/* tag */
body
{
  background-color: #a0ffe6;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr
{
  border-color: #4d4c7d;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  height: 0;
  width: 5%;
}

h1
{
  margin-top: 0;
  padding: 10px 10px 0 10px;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}
h2
{
  font-family: 'Montserrat', sans-serif;
}
h3
{
  font-family: 'Montserrat', sans-serif;
}

p
{
    padding: 0 10px 10px 10px;
}

/* class */
.topC
{
  background-color: #81f5ff;
  margin: 20px;
  position: relative;
  padding-top: 100px;
}

.middleC
{
  background-color: #a8e6cf;
  margin: 20px;
  position: relative;
  padding-top: 100px;
}

.bottomC
{
  background-color: #ffc2c2;
  /* margin: 20px; */
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.bottom-cloud
{
  position: absolute;
  left: 300px;
  bottom: 300px;
  max-width: 20%;
  max-height: 20%;
  display: block;
}

.top-cloud
{
  position: absolute;
  right: 300px;
  top: 50px;
  max-width: 20%;
  max-height: 20%;
}

.mountain
{
  padding-top: 40px;
  max-width: 40%;
  max-height: 40%;
  size : 40%;
}

.para-footer
{
  font-family: 'Montserrat', sans-serif;
}

.footer-link
{
  text-decoration: none;
}

.pp
{

  border-radius: 50%
}

.skills
{
  size: 1%;
}
